<header>
  <div class="header-container container">
    <a href="./index.html">
      <svg class="logo-icon">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <label class="checkbox">
      <input type="checkbox" class="checkbox-input" />
      <span class="checkbox-switch"></span>
    </label>
    <button class="burger-button" type="button">
      <svg class="burrger-icon">
        <use
          class="icon-burger"
          href="./images/symbol-defs.svg#icon-burger"
        ></use>
        <use
          class="icon-x-close visually-hidden"
          href="./images/symbol-defs.svg#icon-x-close"
        ></use>
      </svg>
    </button>
  </div>
  <div class="modal-container visually-hidden">
    <button class="user-login-button" type="submit">
      <div class="user-login-button-container">
        <div class="user-photo"></div>
        Log in
      </div>
    </button>
    <div class="home-link-container">
      <a cllass="home-link" href="./index.html">HOME</a>
    </div>
    <button class="shopping-list-button" type="button">SHOPPING LIST</button>
    <button class="logout-button" type="submit">Log out</button>
  </div>
</header>
