<main>
  <div class="categories-container">
    <button class="categories-btn all" type="button" autofocus>
      All categories
    </button>
    <ul class="categories-list list"></ul>
  </div>

  <div class="fonds-container">
    <div class="splide" role="group">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide fonds-item">
            <div class="fonds-title-wrapper">
              <p class="fonds-title">Support Ukraine</p>
              <svg class="ukraine-icon">
                <use href="./images/symbol-defs.svg#icon-ukraine"></use>
              </svg>
            </div>
            <ul class="fonds-list">
              <a
                class="fonds-link"
                href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
                target="_blank"
                ><p class="soc-num">01</p>
                <img
                  class="soc-img"
                  src="./images/save-the-children.png"
                  alt=""
              /></a>
              <a
                class="fonds-link"
                href="https://www.projecthope.org/country/ukraine/"
                target="_blank"
                ><p class="soc-num">02</p>
                <img class="soc-img" src="./images/hope.png" alt=""
              /></a>
              <a
                class="fonds-link"
                href="https://internationalmedicalcorps.org/country/ukraine/"
                target="_blank"
                ><p class="soc-num">03</p>
                <img
                  class="soc-img"
                  src="./images/international-medical-corps.png"
                  alt=""
              /></a>
              <a
                class="fonds-link"
                href="https://www.razomforukraine.org/"
                target="_blank"
                ><p class="soc-num">04</p>
                <img class="soc-img" src="./images/razom.png" alt=""
              /></a>
            </ul>
          </li>
          <li class="splide__slide">
            <ul class="fonds-list">
              <a class="fonds-link" href="https://u24.gov.ua/uk" target="_blank"
                ><p class="soc-num">05</p>
                <img class="soc-img" src="./images/united24.png" alt=""
              /></a>
              <a
                class="fonds-link"
                href="Medicins Sans Frontieres"
                target="_blank"
                ><p class="soc-num">06</p>
                <img class="soc-img" src="./images/medecins.png" alt=""
              /></a>
              <a
                class="fonds-link"
                href="https://www.actionagainsthunger.org/location/europe/ukraine/"
                target="_blank"
                ><p class="soc-num">07</p>
                <img
                  class="soc-img actions-against-hunger"
                  src="./images/actions-against-hunger.png"
                  alt=""
              /></a>
              <a
                class="fonds-link"
                href="https://prytulafoundation.org/en"
                target="_blank"
                ><p class="soc-num">08</p>
                <img class="soc-img" src="./images/prytula.png" alt=""
              /></a>
              <a
                class="fonds-link"
                href="https://www.wvi.org/emergencies/ukraine"
                target="_blank"
                ><p class="soc-num">09</p>
                <img class="soc-img" src="./images/world-vision.png" alt=""
              /></a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h1 class="hero-title">
    <span class="hero-title-span-main">Best Sellers</span>
    <span class="hero-title-span">Books</span>
  </h1>
  <div class="books-container"></div>
</main>
